<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.cipherresource.project.system.authcerthis.mapper.TAuthcertHisMapper">

	<resultMap type="TAuthcertHis" id="TAuthcertHisResult">
		<result property="id" column="id" />
		<result property="ownerid" column="ownerid" />
		<result property="ownertype" column="ownertype" />
		<result property="type" column="type" />
		<result property="status" column="status" />
		<result property="version" column="version" />
		<result property="createdate" column="createdate" />
		<result property="certsn" column="certsn" />
		<result property="notvaliddate" column="notValidDate" />
		<result property="cert" column="cert" />
		<result property="pubkey" column="pubkey" />
	</resultMap>

	<sql id="selectTAuthcertHisVo">
		select id, ownerid, ownertype, type, status, version, createdate, certsn,
		notValidDate, cert, pubkey from t_authcert_his
	</sql>

	<select id="selectTAuthcertHisList" parameterType="TAuthcertHis"
		resultMap="TAuthcertHisResult">
		<include refid="selectTAuthcertHisVo" />
		<where>
			<if test="ownerid != null  and ownerid != ''"> and ownerid = #{ownerid}</if>
			<if test="ownertype != null "> and ownertype = #{ownertype}</if>
			<if test="type != null "> and type = #{type}</if>
			<if test="status != null "> and status = #{status}</if>
			<if test="version != null  and version != ''"> and version = #{version}</if>
			<if test="createdate != null "> and createdate = #{createdate}</if>
			<if test="certsn != null  and certsn != ''"> and certsn = #{certsn}</if>
			<if test="notvaliddate != null "> and notValidDate = #{notvaliddate}</if>
			<if test="cert != null  and cert != ''"> and cert = #{cert}</if>
			<if test="pubkey != null "> and pubkey = #{pubkey}</if>
		</where>
	</select>
	<select id="getTAuthcertList" parameterType="hashmap"
		resultMap="TAuthcertHisResult">
		<include refid="selectTAuthcertHisVo" />
		<where>
			<if test="ownerid != null  and ownerid != ''"> and ownerid = #{ownerid}</if>
			<if test="ownertype != null "> and ownertype = #{ownertype}</if>
			<if test="type != null "> and type = #{type}</if>
			<if test="status != null "> and status = #{status}</if>
			<if test="version != null  and version != ''"> and version = #{version}</if>
			<if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
				and date_format(createdate,'%y%m%d %H:%i:') &gt;=
				date_format(#{beginTime},'%y%m%d %H:%i:')
			</if>
			<if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
				and date_format(createdate,'%y%m%d %H:%i:') &lt;=
				date_format(#{endTime},'%y%m%d %H:%i:')
			</if>
			<if test="certsn != null  and certsn != ''"> and certsn = #{certsn}</if>
			<if test="notvaliddate != null "> and notValidDate = #{notvaliddate}</if>
			<if test="cert != null  and cert != ''"> and cert = #{cert}</if>
			<if test="pubkey != null "> and pubkey = #{pubkey}</if>
		</where>
	</select>
	<select id="selectTAuthcertHisById" parameterType="Long"
		resultMap="TAuthcertHisResult">
		<include refid="selectTAuthcertHisVo" />
		where id = #{id}
	</select>

	<insert id="insertTAuthcertHis" parameterType="TAuthcertHis"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_authcert_his
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ownerid != null  and ownerid != ''">ownerid,</if>
			<if test="ownertype != null ">ownertype,</if>
			<if test="type != null ">type,</if>
			<if test="status != null ">status,</if>
			<if test="version != null  and version != ''">version,</if>
			<if test="createdate != null ">createdate,</if>
			<if test="certsn != null  and certsn != ''">certsn,</if>
			<if test="notvaliddate != null ">notValidDate,</if>
			<if test="cert != null  and cert != ''">cert,</if>
			<if test="pubkey != null ">pubkey,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="ownerid != null  and ownerid != ''">#{ownerid},</if>
			<if test="ownertype != null ">#{ownertype},</if>
			<if test="type != null ">#{type},</if>
			<if test="status != null ">#{status},</if>
			<if test="version != null  and version != ''">#{version},</if>
			<if test="createdate != null ">#{createdate},</if>
			<if test="certsn != null  and certsn != ''">#{certsn},</if>
			<if test="notvaliddate != null ">#{notvaliddate},</if>
			<if test="cert != null  and cert != ''">#{cert},</if>
			<if test="pubkey != null ">#{pubkey},</if>
		</trim>
	</insert>

	<update id="updateTAuthcertHis" parameterType="TAuthcertHis">
		update t_authcert_his
		<trim prefix="SET" suffixOverrides=",">
			<if test="ownerid != null  and ownerid != ''">ownerid = #{ownerid},</if>
			<if test="ownertype != null ">ownertype = #{ownertype},</if>
			<if test="type != null ">type = #{type},</if>
			<if test="status != null ">status = #{status},</if>
			<if test="version != null  and version != ''">version = #{version},</if>
			<if test="createdate != null ">createdate = #{createdate},</if>
			<if test="certsn != null  and certsn != ''">certsn = #{certsn},</if>
			<if test="notvaliddate != null ">notValidDate = #{notvaliddate},</if>
			<if test="cert != null  and cert != ''">cert = #{cert},</if>
			<if test="pubkey != null ">pubkey = #{pubkey},</if>
		</trim>
		where id = #{id}
	</update>
	<select id="getTAuthcertHisList" parameterType="hashmap"
		resultMap="TAuthcertHisResult">
		<include refid="selectTAuthcertHisVo" />
		<where>
			<if test="ownerid != null  and ownerid != ''"> and ownerid = #{ownerid}</if>
			<if test="ownertype != null "> and ownertype = #{ownertype}</if>
			<if test="type != null "> and type = #{type}</if>
			<if test="status != null "> and status = #{status}</if>
			<if test="version != null  and version != ''"> and version = #{version}</if>
			<if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
				and date_format(createdate,'%y%m%d %H:%i:') &gt;=
				date_format(#{beginTime},'%y%m%d %H:%i:')
			</if>
			<if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
				and date_format(createdate,'%y%m%d %H:%i:') &lt;=
				date_format(#{endTime},'%y%m%d %H:%i:')
			</if>
			<if test="certsn != null  and certsn != ''"> and certsn = #{certsn}</if>
			<if test="notvaliddate != null "> and notValidDate = #{notvaliddate}</if>
			<if test="cert != null  and cert != ''"> and cert = #{cert}</if>
			<if test="pubkey != null"> and pubkey = #{pubkey}</if>
		</where>
	</select>
	<delete id="deleteTAuthcertHisById" parameterType="Long">
		delete from t_authcert_his where id = #{id}
	</delete>

	<delete id="deleteTAuthcertHisByIds" parameterType="String">
		delete from t_authcert_his where id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

</mapper>